body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
}

.image-container {
  text-align: center;
}

.image-container img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: gray;
  width: 300px;
  height: 300px;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover {
  color: coral;
  background-color: rgb(35, 35, 35);
}